


   
<table>
  <thead>
    <tr>
      <th>
        <div>Product Name</div>
      </th>
      <th align="centre">
        <div>Time</div>
      </th>
      <th>
        <div>Edit and Delete</div>
      </th>
     </thead>
  <tbody>  
    
    
<% obj.each do |account| %>
  <tr>
      <td>
        <div><%= link_to account.name, account_path(account) %></div>
      </td>
      <td>
        <div>Created At <%= time_ago_in_words(account.created_at) %> ago,
                      last updated: <%= time_ago_in_words(account.updated_at) %></div>
      </td>
     
      <td>
        <div><% if logged_in? && (current_user == account.user || current_user.admin?) %>
                
                   <%= link_to "Edit this account", edit_account_path(account), class: "btn btn-xs btn-primary" %>
                  <%= link_to "Delete this account", account_path(account), method: :delete, 
                                                data: { confirm: "Are you sure you want to delete the account?"}, 
                                                class: "btn btn-xs btn-danger" %> <% end %></div>
      </td>                 
           
   </tr>

 <% end %>
 </tbody>
 </table>
